.btn-margin-left {
    margin-left: 5%;
}
.btn-margin-right {
    margin-right: 5%;
}

.results-list {
    margin-left: 75px;
	margin-right: 75px;
    width: 80%;
}

#cite {
    margin-left: 75px;
	margin-right: 75px;
    width: 80%;
}